@font-face {
	font-family: 'androidnationb';
	src: url('./androidnationb.eot');
	src: local('androidnationb'), url('./androidnationb.woff') format('woff'), url('./androidnationb.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_767">Text with this font applied</p> */
.fontsforweb_fontid_767 {
	font-family: 'androidnationb' !important;
}

/* Font downloaded from FontsForWeb.com */