body {
  font-family: OpenSansRegular;
  color: #cccccc;
}

html {
  background-color: #001a5c;
}

h1 {
  position: absolute;
  top: 0.5cm;
  left: 22cm;
  font-size: 30;
  color: #cccccc;
}

#info_div {
  position: absolute;
  top: 3cm;
  right: 1cm;
  font-size: 17;
  background-color: #00278b;
  border-radius: 30px;
  width: 10cm;
  height: 9.5cm;
  padding: 20px;
  padding-left: 50px;
  box-shadow: 2px 2px #001c65;
}

#pred_div {
  position: absolute;
  bottom: 1cm;
  right: 1cm;
  font-size: 23;
  background-color: #00278b;
  border-radius: 30px;
  width: 10cm;
  height: 7.5cm;
  padding: 20px;
  padding-left: 50px;
  box-shadow: 2px 2px #001c65;
}


@font-face {
	font-family: 'OpenSansRegular';
	src: url('./fonts/OpenSansRegular.eot');
	src: local('fonts/OpenSansRegular'), url('./fonts/OpenSansRegular.woff') format('woff'), url('./fonts/OpenSansRegular.ttf') format('truetype');
}
